/* header,
footer,
div,
p,
aside,
section,
article {
    border: 1px solid red;
} */
body {
    font-family: sans-serif;
    font-weight: 600;
    font-size: medium;
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
    min-height: auto;
    width: 100vw;
    background-color: rgb(218, 218, 218);
}

main {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
    background-color: rgb(255, 242, 217);
}
section div:first-child {
    padding: 1em 0 0 0;
}
#container {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    flex-basis: 20vw;
    padding: 1em;
    margin: 1em 1em 0 1em;
    background-color: rgb(255, 216, 145);
}
article:nth-child(2),
article:first-child {
    flex-grow: 1;
}
article:last-child {
    flex-grow: 2;
    margin: 1em;
}
aside {
    width: 40vw;
    min-height: 25vh;
    background-color: rgb(176, 255, 142);
    padding: 1em 0 0 0;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-around; */
    width: 100vw;
    background-color: rgb(218, 218, 218);
}
footer div {
    padding: 1em;
    margin: 1em;
    background-color: white;
}
